// Fonts
//@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons');


/* // Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap'; */

@import '~simplemde/dist/simplemde.min.css';
@import '~github-markdown-css';

// index.js or main.js
@import '~vuetify/dist/vuetify.min.css' // Ensure you are using css-loader
